body {

	background-color: #A5CADE;

}


h1 {

	color:#405D6D;
    font-family: "Muli";
    margin-left: 10px;

}


p {
  
  color: #293D4C;
  font-family: "Muli";
  margin-left: 10px;

} 


div {

  color: white ;
  font-family: "Muli";
  margin-left: 20px;

} 
