
body {

  background-color: #B1ADBC;

}


h1 {
  display:flex;
  align-items: center;
  color:#352758;
  font-size: 100px;
  font-family: "Libre Franklin";
    

}


p {
  display:flex;
  align-items: center;
  color: #293D4C;
  font-family: "Libre Franklin";
  font-size: 40px;


} 


div.ui-widget {

  display:flex;
  align-items: ;
  color: #352758 ;
  font-family: "Libre Franklin";
  font-size: 25px;
  height:70px;
/*  width: 450px;*/

} 

div.ui-widget label {
  width: 200px;
}

div.ui-widget input#tags {
  font-family: 'Libre Franklin';
  color: grey;
  height: 40px;
/*  width: 350px;*/
  padding: 10px;
  margin-left: 15px
}

div.image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul {
  font-family: "Libre Franklin";
  color:lightgrey;

}

img {

  margin-top: 5px;
  margin-bottom: 5px;
  height:320px;
  width:480px;
  padding: 10px;

}
